body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(https://static.inkrement.no/cdn/matte12/themes/christmas_v2/background2.jpg);
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

#timerElement {
  position: fixed;
  top: 3vmin;
  right: 3vmin;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  font-size: max(5vmin, 32px);
  color: white;
  background-color: #709efe;
  padding: 0px 10px;
  border-radius: 4px;
}

#timerElement.hidden {
  opacity: 0;
}

#startScreen {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: center;
  gap: 20px;
}
#startScreen h1 {
  text-align: center;
  font-size: max(9vmin, 30px);
  margin: 2rem;
  line-height: 0.8;
}
#startScreen input {
  max-width: 500px;
  font-size: 20px;
  font-family: "Sour Gummy", sans-serif;
  border-radius: 10px;
  border: 2px solid black;
  padding: 4px 10px;
  text-align: center;
}

#startScreen button {
  max-width: 500px;
  font-size: 40px;
  font-family: "Sour Gummy", sans-serif;
  border-radius: 10px;
  border: 2px solid black;
  padding: 14px 50px;
  background-color: #709efe;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


#startScreen button:disabled {
  background-color: #b7b7b7;
  cursor: not-allowed;
}

/* Game board */
#gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust for your layout */
  gap: 1vmin;
  justify-content: center;
}

#gameBoard.disabled {
  pointer-events: none;
}

/* Card styles */
.card {
  cursor: pointer;
  width: 20vmin;
  height: 20vmin;
  position: relative;
  perspective: 1000px; /* Enable 3D perspective for flip animation */
  border-radius: 0.8vmin;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Preserve 3D for both sides */
  transition: transform 0.5s ease-in-out;
  transform: rotateY(0deg); /* Ensure no rotation initially */
}

.card:not(.flipped) .card-inner {
  transform: rotateY(180deg); /* Flip card when clicked */
}

.card.flipped {
  pointer-events: none;
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 0.8vmin;
}

.card .front {
  transform: rotateY(0deg); /* Front side facing up initially */
  overflow: hidden;
}

.card .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .back {
  background-color: #e9ecf1; /* Style the back of the card */
  transform: rotateY(180deg); /* Back side facing down initially */
  background-image: url("/memory-cards/assets/inkrement-logo.svg");
  background-size: 5vmin;
  background-repeat: no-repeat;
  background-position: center;
}

.highscore-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  width: 400px;
  max-height: calc(100vh - 260px);
  max-width: calc(100% - 40px);
}

.highscore-list h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.score-item {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
